.leaflet-container {
  border-radius: inherit;
  overflow: hidden;
}

.map-select-mode,
.map-select-mode .leaflet-container,
.map-select-mode .leaflet-pane,
.map-select-mode .leaflet-interactive {
  cursor: crosshair !important;
}

.map-select-mode .leaflet-grab,
.map-select-mode .leaflet-dragging {
  cursor: crosshair !important;
}

.map-select-mode .leaflet-container {
  border-radius: inherit;
  overflow: hidden;
}
